#btn{
    width: 110px;
    height: 40px;
    margin:auto;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 微软雅黑;
    background-color: #47DBE4;
    border:none;
    outline: none;
}
a{ 
  font-family: Microsoft Yahei; 
    text-decoration: none; color: white;
    font-size: 18px;
}
 a:hover
{
    color: red;
}
.link
{ 
font-family: Microsoft Yahei;
    color: #47DBE4;
}
body{
    width:100%;
    height:100%;
    font-family: "微软雅黑";
  background:url("../images/reg_bg.jpg") ;
  background-size: 100%;
    margin: auto;
    background-attachment: scroll;
}